<ion-content [fullscreen]="true">
  <ion-grid id="container">
    <ion-col class="areaLogin">
      <ion-row>
        <ion-col size="12" class="areaLogo">
          <img src="../../../assets/LogoThera.svg" alt="Logo Thera" srcset="" />
        </ion-col>
      </ion-row>

      <ion-card class="areaInputs">
        <ion-col class="inputs">
          <ion-row class="entradaDados">
            <button>
              <img src="../../../assets/usuario.svg" alt="" class="imgUser" />
            </button>
            <ion-input placeholder="Usuário" class="inputUser" [(ngModel)]="usuario"></ion-input>
          </ion-row>

          <ion-row class="entradaDados">
            <button>
              <img src="../../../assets/senha.svg" alt="" srcset="" />
            </button>
            <ion-input placeholder="Senha" class="inputPassword" [(ngModel)]="senha"></ion-input>
          </ion-row>

          <ion-button color="warning" class="login" (click)="login()">LOGIN</ion-button>
        </ion-col>
      </ion-card>
    </ion-col>
  </ion-grid>
</ion-content>
