<ion-content [fullscreen]="true">
  <ion-grid id="container">
    <ion-col class="areaLogin">
      <ion-row>
        <ion-col size="12" class="areaLogo">
          <img src="assets/LogoThera.svg" alt="Logo Thera" srcset="" />
        </ion-col>
      </ion-row>

      <ion-card class="areaInputs">
        <ion-col class="inputs">
          <ion-row class="entradaDados">
            <button>
              <img src="assets/usuario.svg" alt="" class="imgUser" />
            </button>
            <input placeholder="Usuário" class="inputUser" [(ngModel)]="usuario">
          </ion-row>

          <ion-row class="entradaDados">
            <button>
              <img src="assets/senha.svg" alt="" srcset="" />
            </button>
            <input placeholder="Senha" type="password" class="inputPassword" [(ngModel)]="senha">
          </ion-row>

          <ion-button color="warning" class="login" (click)="login()">LOGIN</ion-button>
        </ion-col>
      </ion-card>
    </ion-col>
  </ion-grid>
</ion-content>
